* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 50px;
}

button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.content {
  min-height: 50px;
}

.controls {
  margin-top: 10px;
}

.hide {
  display: none;
}

.pagination-btn.active {
  background-color: rgb(205, 235, 208);
  border-width: 1px;
}

.loader {
  min-height: 50px;
}
